:root {
  --blue-1: #354649;
  --blue-2: #6c7a89;
  --blue-3: #a3c6c4;
  --blue-4: #e0e7e9;
}

@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&display=swap");

.react-calendar {
  width: auto;
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  margin: 1rem;
}

.react-calendar,
.react-calendar__tile {
  border: none;
  font-family: "Dosis", sans-serif;
  font-weight: 800;
}

.react-calendar__tile--hasActive {
  background: var(--blue-3);
}

.event-tile {
  font-size: 15px;
}

.react-calendar__month-view__days__day {
  font-size: 15px;
}

.react-calendar__month-view__days__day:hover,
.react-calendar__month-view__days__day:enabled:focus {
  background: var(--blue-3);
}

.react-calendar__tile--now,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--blue-3);
}

.tooltip {
  margin: 30px 40px;
  padding: 30px 20px;
  border-radius: 5px;
  background-color: #e0e7e9;
  color: var(--blue-1);
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  font-weight: 800;
}

.has-event {
  background-color: var(--blue-4);
}

.has-event:hover {
  background-color: var(--blue-3);
}

.react-calendar button {
  margin: 5px 0px;
  border: 1px solid var(--blue-4);
  border-radius: 5px;
  width: 50px;
}

.react-calendar button:hover {
  background-color: var(--blue-3);
  color: var(--blue-1);
  border: 1px solid var(--blue-3);
}

.calendar-footer {
  margin-top: 10rem;
}
