@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&display=swap");

.News {
  font-family: "Dosis", sans-serif;
  margin: 20px;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #e0e7e9;
}
.header {
  background-color: #354649;
  color: #e0e7e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Dosis", sans-serif;
  width: auto;
  padding: 10px 40px;
  position: sticky;
  top: 0;
}
.left {
  display: flex;
  align-items: center;
}
.header button,
.filter-select {
  border: 1.5px solid #e0e7e9;
  height: 50px;
  width: 200px;
  background-color: #6c7a89;
  color: #e0e7e9;
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  font-size: 17px;
  font-weight: 800;
}

.header button:hover,
.filter-select:focus,
.filter-select:hover {
  background-color: #a3c6c4;
  color: #354649;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header h1 {
  font-size: 20px;
}
.header img {
  width: 100px;
  height: 70px;
  object-fit: contain;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #e0e7e9;
}

a {
  text-decoration: none;
  color: #354649;
  font-weight: 800;
  font-size: 25px;
}

li p {
  font-weight: 400;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}
a:visited {
  color: #6c7a89;
}

.News h2 {
  font-weight: 800;
  font-size: 30px;
  color: #354649;
}

.filter-select {
  padding: 1px 6px;
  border-radius: 5px;

  width: 100%;
  max-width: 200px;
  cursor: pointer;
  text-align: center;
}

.filter-select option {
  background-color: #e0e7e9;
  color: #354649;
}
.filter-select option:hover {
  background-color: #e0e7e9;
  color: #354649;
}

.filter-select:focus,
.filter-select:hover {
  border-color: #354649;
}

.filters {
  display: flex;
  width: auto;
  justify-content: space-between;
}

.horizontal-line {
  border-top: 2px solid #354649;
  width: 100%; 
  margin-top: 20px; 
  display: block;
  margin: 0px;
}


.scroll-to-top-button{
  margin-left: auto;
  margin-right: 20px;
  border-radius: 50%;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
#h1Main{
  color:#354649;
  font-size: 50px;
  text-align: center;
  font-family: "Dosis", sans-serif;
}
#h2Main{
  color:#354649;
  font-size: 30px;
  text-align: center;
  font-family: "Dosis", sans-serif;
}
#mainList{
  font-weight: bold;
  text-align: center;
  font-family: "Dosis", sans-serif;
}
#loginButton{
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color:#354649; /* Culoarea de fundal */
  color: #e0e7e9;
  border: none; 
  border-radius: 8px; 
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-family: "Dosis", sans-serif;
}
#h2Dialog{
  color:#354649;
  font-family: "Dosis", sans-serif;
}
#loginButton:hover {
  background-color: #6C7A89; /* O altă culoare de fundal */
}
#dialogLogin{
  display: flex;
  z-index:1000;
  width: 390px;
  height: 390px;
  flex-direction: column;
  margin-top: 50px;
  gap:10px;
  background-color: #e0e7e9;
  border: 1px solid #ccc;
  font-family: "Dosis", sans-serif;
}

input{
  color:#354649;
  background-color: #a3c6c4;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc; /* Contur simplu */
  border-radius: 5px; /* Colțuri rotunjite */
  font-family: "Dosis", sans-serif;
}
#btnDialog{
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color:#354649; /* Culoarea de fundal */
  color: #e0e7e9;
  border: none; 
  border-radius: 8px; 
  cursor: pointer;
  width: 120px;
  height: 60px;
  margin-left: 50px;
  font-family: "Dosis", sans-serif;
}
#cryptoWorld{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#btn-h2-main{
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:  #e0e7e9;
  width: 1000px;
  align-items: center;
}
