@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&display=swap");

#h1Main {
  color: #354649;
  font-size: 50px;
  text-align: center;
  font-family: "Dosis", sans-serif;
}
#h2Main {
  color: #354649;
  font-size: 30px;
  text-align: center;
  font-family: "Dosis", sans-serif;
}
#mainList {
  font-weight: bold;
  text-align: center;
  font-family: "Dosis", sans-serif;
}

#btnDialog:hover {
  background-color: #6c7a89;
}
#h2Dialog {
  color: #354649;
  font-family: "Dosis", sans-serif;
}

#dialogLogin {
  display: flex;
  z-index: 1000;
  width: 390px;
  height: 390px;
  flex-direction: column;
  margin-top: 50px;
  gap: 10px;
  background-color: #e0e7e9;
  border: 1px solid #ccc;
  font-family: "Dosis", sans-serif;
}

input {
  color: #354649;
  background-color: #a3c6c4;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-family: "Dosis", sans-serif;
}
#btnDialog {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #354649; 
  color: #e0e7e9;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 190px;
  height: 60px;
  margin-left: 50px;
  font-family: "Dosis", sans-serif;
}

#btnDialog:hover {
  background-color: #a3c6c4;
  color: #354649;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#cryptoWorld {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#btn-h2-main {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: #e0e7e9;
  width: 1000px;
  align-items: center;
  margin-bottom: 20px;
}
#dialog-text {
  font-weight: bold;
  font-style: italic;
  font-family: "Dosis", sans-serif;
  font-size: 40px;
  color: #e0e7e9;
  padding-bottom: 50px;
}
#output {
  display: grid;
  grid-template-rows: 120px 400px 100px;
  background-color: #354649;
  place-items: center;
}

#crypto-logo {
  width: 400px;
  height: 400px;
}

.right button {
  margin: 0px 10px;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.scrollbtn {
  margin-left: auto;
  margin-right: 10px;
  border-radius: 50%;
}
